<!-- <h1>Sign UP</h1>
<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="name... " required>
    <input type="email" name="email" placeholder="email... " required>
    <input type="password" name="password" placeholder="password... " required>
    <input type="password" name="c_p" placeholder="confirm password..." required>
    <button type="submit">Sign Up</button>
</form> -->

<div class="container-sm login-form">
    <h1>SIGN UP</h1>
    <form action="/users/create" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
            <input type="password" name="c_p" class="form-control" id="exampleInputPassword2">
        </div>
        <button type="submit" class="btn btn-primary">Sign UP</button>
    </form>
    Or Sign in with the following links:
    <br/>
    <p class = "social-links">
        <a href = "/users/auth/google"><i class="fab fa-google"></i></a>
    </p>
</div>