body{
    margin: 0;
    overflow-x: hidden;
    background-color: #efefef;
}

#loader-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.5;
    /* visibility: hidden; */
}

header{
    font-weight: 800;
}

.main{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.navbar{
    padding-left: 5%;
}

.login-form{
    max-width: 600px;
    margin-top: 30px;
}

.social-links{
    font-size: 3rem;
    margin-top: 10px;
}

.users_list{
    margin-top: 3vh;
}
.users_list img{
    margin-right: 10px;
}
